:root {
    --color-claro:#00E5FF;
    --color-medio:#00B4D8;
    --color-tecnico:#0077B6;
    --color-real:#03045E;
    --color-sombras:#0A192F;
    --color-fondo:#ffffff;

}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-color: var(--color-fondo);
}

